body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(45deg, #f06, #ffba00);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #ffba00;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: transform 0.3s, background-color 0.3s;
}

button:hover {
    background-color: #f06;
    transform: scale(1.1);
}

@keyframes gradientAnimation {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
